<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <p> @Session["userid"].ToString() </p>
    <p> @Session["usernom"].ToString() </p>
    <p><img src="data:image/jpeg;base64,@Session["userimg"].ToString() " width="130" height="130" /></p>
    


</body>
</html>
