<html>
<head>
 
</head>
<body>

    <p> @Session["userid"].ToString() </p>
    <p> @Session["usernom"].ToString() </p>
    <p><img src="data:image/jpeg;base64,@Session["userimg"].ToString() " width="130" height="130" /></p>
    


</body>
</html>
