@model ADVYTEAM.Presentation.Models.LoginVM

@{
    ViewBag.Title = "OubliePassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            @using (Html.BeginForm("traiteCode", "Login"))
            {
                @Html.AntiForgeryToken()
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
                        Oublie mot de passe
                    </span>
                    <div class="form-group">

                        <div class="col-md-10">

                            @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                        </div>
                    </div> 
                    
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "input100" } })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>

                    <div class="container-login100-form-btn">

                        <input type="submit" value="Rechercher" class="login100-form-btn" />
                    </div>


                </div>

            }


            <div class="login100-more" style="background-image: url('../../Content/images/bg-01.jpg');">
            </div>
        </div>
    </div>
</div>
